.Comment-create-form-box {
  margin: 24px 0;
  width: 100%;
  color: #fff;
  overflow: hidden;
  transition: all .3s;

  &__header {
    padding: 16px 24px 22px;
    border-radius: 12px;
  }

  &__header-title {
    font-size: 24px;
    font-weight: 500;
    margin-left: 12px;
  }

  //&_bg-white {
  //  background: #fff;
  //}
  //
  //&_bg-dark {
  //  background: #000;
  //}
}


.Comment-create-header {
  display: flex;
  align-items: center;
  //color: #000;
  background: #000;
  cursor: pointer;
}

.Comment-create-form {
  background: #fff;
  &__button-box {
    margin-top: 12px;
    display: flex;
  }
}
