.Comment-create-form-box {
  margin: 24px 0;
  width: 100%;
  color: #fff;
  overflow: hidden;
  transition: all .3s;

  &__header {
    padding: 16px 24px 22px;
    border-radius: 12px;
  }

  &__header-title {
    font-size: 24px;
    font-weight: 500;
    margin-left: 12px;
  }
}


.Comment-create-header {
  display: flex;
  align-items: center;
  background: #000;
  cursor: pointer;
}

.Comment-create-form {
  background: #fff;
  &__inputs {
    margin-bottom: 24px;
  }

  &__input {
    margin-bottom: 12px;
  }

  &__buttons {
    max-width: 300px;
    margin-top: 12px;
    display: flex;
  }

  &__button {
    margin-right: 8px;
  }
}
