.Comment-create-form-box {
  margin: 24px 0;
  width: 100%;
  color: #fff;
  background: #000;
  padding: 16px 24px 22px;
  border-radius: 12px;
  transition: all .3s;

  &__header {
    display: flex;
    align-items: center;
  }

  &__header-title {
    font-size: 24px;
    font-weight: 500;
    margin-left: 12px;
  }


  //&__form {
  //  width: 100%;
  //  .form__message {
  //    margin: 8px 0;
  //    max-height: 100px;
  //    resize: none;
  //  }
  //
  //  .form__title {
  //    margin: 8px 0;
  //  }
  //
  //  .form__button {
  //    margin-top: 12px;
  //  }
  //}


}

.Comment-create-form {
  &__button-box {
    margin-top: 12px;
    display: flex;
  }
}
