@import '../../assets/styles/vars.scss';

.Header {

  .MuiIconButton-colorSecondary {
    color: #fff;
  }

  .main-link-button {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    border-radius: 12px;

    &:hover {
      background: #383838;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  position: relative;

  .logo {
    width: 44px;
    height: 44px;
    background-image: url("../../assets/images/icons/love.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }



  .search-wrapper {
    width: 60%;
  }

  .mini-icons-container {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
  }

  .user-avatar {
    .user {
      .avatar {
        width: 44px;
        height: 44px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
      }

      .default-avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px rgba(256,256,256,0.5);

        img {
          width: 30px;
          height: 30px;
          display: block;
        }

      }
    }
  }

  @media (max-width: $mobile) {
    .search-wrapper {
      display: none;
    }

    .user-avatar {
      display: none;
    }

    .add-collection-button-wrapper {
      display: none;
    }

    .main-link-button {
      display: none;
    }
  }
}





