.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;

  &__logo {
    width: 44px;
    height: 44px;
    background-image: url("../../assets/images/icons/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }


  &__search {
    width: 60%;

    input {
      width: 100%;
      transition: color .3s,background-color .3s,opacity .3s,width .05s linear;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
      padding: 12px 36px;
      background: url(../../assets/images/icons/loupe.svg) no-repeat scroll 16px;
      color: hsla(0,0%,100%,.6);
      background-size: 14px;
      background-color: hsla(0,0%,100%,.16);
      border: none;
      outline: none;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    .user-img {
      background: url("../../assets/images/users/superhero.svg") no-repeat;
      background-size: contain;
      width: 36px;
      height: 36px;
    }

    .user-name {
      margin-left: 8px;
      text-transform: uppercase;
    }
  }
}
