.Show-message {
  &_root {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    border-radius: 2px;
    padding: 8px 24px;
    background-color: rgba(46, 204, 113, 1);
  }

  &_error {
    background-color: red;
  }

  &_text {
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
  }

  &__action {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
  }

  @media (max-width: 760px) {

    &_root {
      padding: 8px 8px;
      bottom: 80px;
      max-width: 360px;
    }

    &_text {
      font-size: 14px;
    }
  }

  @media (max-width: 320px) {
    &_root {
      max-width: 300px;
    }
  }
}