
.Popup-alert {

    &-content {
        border-radius: 4px;
        max-width: 375px;
        width: 90%;
        padding: 20px;
        border: none;
    }
    &__title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    &__action-buttons {
        display: flex;
    }

    &__main-action-button {
        margin-left: 16px;
    }

    @media (max-width: 760px) {

        &-content {
            padding: 10px;
        }

        .Button {
            font-size: 12px;
            padding: 8px 12px;
        }
    }
}