.Add-collection {
  &-root {
    width: 100%;
    max-width: 840px;
    margin: auto;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
  }

  &__button {
    margin-top: 300px;
  }

  &__drag-drop-box {
    width: 50%;
  }

  &__inputs {
    margin-left: 24px;
    width: 50%;
  }
}
