.Add-collection {
  width: 100%;
  height: calc(100% - 92px);
  display: flex;
  align-items: center;

  &__form {
    max-width: 840px;
    margin: auto;
    display: flex;
  }

  &__button {
    margin-top: 300px;
  }

  &__drag-drop-box {}

  &__inputs {
    margin-left: 24px;
    width: 60%;
  }
}
