.Comments {
  .comment-title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 12px 0;
    sup {
      font-size: 14px;
      letter-spacing: normal;
    }
  }
  .comments {
    width: 100%;
    background: #424242;
    border-radius: 2px;

    .comment-item {
      padding: 12px 25px 12px 12px;
      border-bottom: 1px solid #585858;
      display: flex;
      align-items: flex-start;

      .avatar {
        margin-right: 12px;
        .test {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .content {
        .title {
          font-size: 15px;
          font-weight: bold;
          color: #fcfcfc;
          max-width: 75ch;
        }
        .author-name {
          margin-right: 10px;
          color: #e8e8e8;
        }
        .content-description {
          color: #adadad;
          line-height: 22px;
        }
        .content-description,
        .author-name {
          font-size: 13px;
        }
        .time {
          font-size: 11px;
        }
      }
    }
  }
}