.Button {
  &-root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #20303c;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #000;
    transition: all .3s;
    cursor: pointer;
    padding: 12px 48px;
    text-transform: uppercase;
  }

  &:hover {
    color: #fff;
    background: #000;
  }
}