$baseColor: #ffffff;

$dark: #18191A;

$darkHover: #383838;
$darkGrey: #141414;
$grey: #313235;
$lightGrey: #888888;
$white: #FFFFFF;
$green: #6EC702;
$whitesmoke: #f5f5f5;
$blue: #0C2CE5;
$superLight: #EFEFEF;
$red: #E61E0A;
$red_hover: #D51C09;
$logo_hover: #6FC10C;
$hoverWhite: #e2e2e2;
