@import '../Common/assets/styles/grid';
@import '../Common/assets/styles/title';
@import '../Common/assets/styles/input';
@import '../Common/assets/styles/vars';
@import '../Common/assets/styles/button';

.App {
  
  margin: 0 auto;
  height: 100%;

  &-root {
    // max-width: 1480px;
    padding-top: 70px;
    
   
  }

  @media (max-width: $mobile) {
    &-root {
      // padding: 0 6px 60px;
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }
}