@import '../Common/assets/styles/grid';
@import '../Common/assets/styles/title';
@import '../Common/assets/styles/input';
@import '../Common/assets/styles/vars';

.App {
  max-width: 1480px;
  margin: 0 auto;
  height: 100%;

  .content {
    padding: 0 24px 24px;
  }

  @media (max-width: $mobile) {
    .content {
      padding: 0 6px 6px;
    }
  }
}
