@import '../Common/assets/styles/grid';
@import '../Common/assets/styles/title';
@import '../Common/assets/styles/input';
@import '../Common/assets/styles/vars';

.App {
  max-width: 1480px;
  margin: 0 auto;

  .page {
    display: flex;
    justify-content: space-between;
  }

  .content {
    padding: 0 24px 24px;
  }

  // переместить
  .Auth-page-wrapper {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  @media (max-width: $mobile) {
    .content {
      padding: 0 6px 6px;
    }
  }
}
