.Article-view {
  &-root {
    margin: 12px 0 36px 0;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.Article-content {

}

.Comments-wrapper {
  &__title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 12px 0;
  }

  &__title-sup {
    font-size: 14px;
    letter-spacing: normal;
  }
}



