.Drag-and-Drop-wrapper {
  .Drop-and-drop-file {
    position: relative;
    background: rgba(256, 256, 256, 0.2);
    border: 1px dashed rgba(256, 256, 256, 0.5);
    border-radius: 4px;
    padding: 30px 12px;
    margin-bottom: 10px;
    cursor: pointer;
    .cloud {
      display: flex;
      align-items: center;
      .icon {
        width: 24px;
        height: 24px;
        background-image: url("../../../Common/assets/images/icons/add.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
      .text {
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
      }
    }

    label {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    input {
      display: none;
    }

    &.Drag-and-drop-error {
      border: 1px dashed #f44336;
    }

    &.drag-drop-active {
      border: 1px dashed rgba(256, 256, 256, 0.9);
    }
  }



  .add-preview-img-wrapper {
    margin-top: 24px;
    display: flex;

    .preview-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    .delete-preview-img {
      cursor: pointer;
    }
  }
}

