@import 'Common/assets/styles/colors';

.Navbar-user-info {
  width: 200px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 10;
  right: 0;
  top: 60px;

  .root {
    padding: 15px 0;
    position: relative;
  }


  .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sign-in-text {
    color: $lightGrey;
    padding: 0 12px;
    margin-bottom: 6px;

    p {
      margin: 0;
      line-height: 1.2;
    }

    span {
      color: $darkGrey;
      font-weight: bold;
    }
  }

  .link {
    width: 100%;
    background-color: transparent;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .3s;
    outline: none;
    cursor: pointer;
    padding: 12px;

    &:hover {
      background-color: $hoverWhite;
    }

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }

    .text {
      font-size: 16px;
    }
  }



  .user-container {
    position: relative;
    cursor: pointer;

    .user-icon {
      display: flex;
      align-items: center;

      .arrow {
        margin-left: 6px;
        background-image: url("../../assets/images/icons/down-arrow.svg");
        width: 12px;
        height: 12px;
        background-size: contain;
      }
    }
  }

}
