@import '../../assets/styles/vars.scss';

.Footer-mobile {
  background: #202020;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: none;

  .icons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
    padding-bottom: 32px;
  }

  &__icon {
    text-align: center;
  }

  @media (max-width: $mobile) {
    display: block;
  }
}