.Delete-button {
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
    background: #eeeeee;

    .fa-trash-alt {
      color: #e60023;
    }
  }
}