.Input {
  &_box {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
  }

  &_input {
    font-size:14px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 100%;
    border:none;
    border-bottom:1px solid #757575;

    &:focus {
      outline:none;
    }

    &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }


  }

  &_input__error {
    color: red;

  }
}
