.Input {
  &_box {
    display: flex;
    position: relative;
    //margin-bottom: 45px;
    width: 100%;
    border-bottom: solid 1px #e1e1e1;
  }

  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    cursor: pointer;
  }

  &_input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding:10px 10px 10px 5px;
    display:block;
    width: 100%;
    border:none;

    &:focus {
      outline:none;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }

    // Font styles
    &:-webkit-autofill::first-line {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
    }

  }

  &_box__error {
    border-bottom: 1px solid red;
  }
}
