.Personal-area {
  width: 100%;

  .edit-information-block {
    max-width: 720px;
    margin: auto;

    .edit-user {
      margin-bottom: 16px;
      .avatar {
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
      }

      .edit-button {
        margin: 12px 0;
        display: flex;
        justify-content: center;

        .item {
          margin: 0 12px;
        }
      }
    }

    .user {
      display: flex;
      align-items: flex-start;

      .user-name {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      .about-user {

      }

      .user-info {
        margin-left: 36px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .publication {
        display: flex;
        width: 100%;
        max-width: 420px;
        justify-content: space-between;

        .item {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
      }
    }


  }
}