.Personal-area {
  &-root {
    width: 100%;
  }

  &__info-and-tab-box {
    max-width: 760px;
    margin: auto;
  }

  &__tab-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 12px 0 24px;
  }

  .tab {

    &__element-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      &:hover {
        cursor: pointer;

        .tab__description {
          color: #e60023;
        }
      }
    }

    &__description {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 300;
      margin: 6px 0 0;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background: #000;
      color: #888888;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      padding: 8px;
    }

    &_active {
      .svg-inline--fa {
        color: #fff;
      }

      .tab__description {
        font-weight: 400;
      }
    }
  }
}