.Personal-area {
  width: 100%;

  &_tab-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 12px 0 24px;
  }

  .tab {
    &_item {
      width: 100%;
      text-align: center;
      cursor: pointer;
      padding: 8px;
    }

    &__active {
      border-bottom: 1px solid #000;

      .fa-lg {
        color: #000;
      }
    }
  }

  .user-info-tab-wrapper {
    max-width: 760px;
    margin: auto;

    .tab-wrapper {
      margin-bottom: 24px;
    }
  }
}