:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}

.Pin {

  &_container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
  }

  &__about {
    padding: 12px;
    height: 100%;
    position: relative;

    &-inside {
      display: none;
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 24px;
    }

    &-author {
      position: absolute;
      bottom: -28px;
      color: #000;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    &-author-avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
      flex-shrink: 0;
    }

    &-author-name {
      margin-left: 6px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &_card {
    //overflow: hidden;
    position: relative;
    padding: 0;
    margin: 24px 5px;
    border-radius: var(--card_border_radius);
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &:hover {
      .Pin__about-inside {
        display: flex;
      }

      .Pin__shadow {
        background: rgba(0, 0, 0, .3);
        border-radius: var(--card_border_radius);
      }
    }

    &__small {
      grid-row-end: span var(--card_small);
    }

    &__medium {
      grid-row-end: span var(--card_medium);
    }

    &__large {
      grid-row-end: span var(--card_large);
    }
  }
}



