:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;

  @media (max-width: 760px) {
    --card_width: 50%;
  }
}

.Pin {
  &_container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
  }

  &__author-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__about {
    padding: 12px;
    height: 100%;
    position: relative;

    &-inside {
      display: none;
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
    }

    &-title {
      font-family: 'Black Han Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 12px;
    }

    &-author {
      display: flex;
      align-items: center;
      overflow: hidden;
      color: #000;

      &:hover {
        color: #ef0610;
      }
    }

    &-author-avatar {

      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
      flex-shrink: 0;
    }

    &-author-name {
      margin-left: 6px;
      font-size: 10px;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__footer {
    position: absolute;
    bottom: -32px;
    width: 100%;
    left: 0;
    padding: 0 6px;
  }

  &__avatar-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  &__mobile-title {
    display: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }

  &__dots {
    border: none;
    background: #f5f5f5;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .svg-inline--fa {
        color: #ef0610;
      }
    }
  }

  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &_card {
    //overflow: hidden;
    position: relative;
    padding: 0;
    margin: 24px 5px;
    border-radius: var(--card_border_radius);
    background-position: center;
    background-size: cover;
    cursor: pointer;

   

    &__small {
      grid-row-end: span var(--card_small);
    }

    &__middle {
      grid-row-end: span var(--card_medium);
    }

    &__large {
      grid-row-end: span var(--card_large);
    }
  }

  @media(min-width: 1025px) {
    &_card { 
      &:hover {
        .Pin__about-inside {
          display: flex;
        }
  
        .Pin__shadow {
          background: rgba(0, 0, 0, .3);
          border-radius: var(--card_border_radius);
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &_card {
      margin: 28px 5px;
    }

    &__footer {
      bottom: -46px;
    }

    &__mobile-title { 
      display: block;
    }

    &__about {
      &-author-avatar {
        width: 18px;
        height: 18px;
      }

      &-author-name {
        font-size: 8px;
      }
    }
  }
}



