.Users {

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;

    .user-img {
      background: #0C2CE5;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 8px;
    }

    .user-name {

    }
  }
}
