@import "../../../Common/assets/styles/colors";

.Auth {
  &-root {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    width: 100%;
    margin: 0 auto;
    max-width: 420px;
    padding: 24px 8px;
  }

  &_name-project {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &_title {
    text-align: center;
    font-size: 32px;
  }

  &_input {
    margin-bottom: 24px;
  }

  &_input-error-pass-text {
    position: absolute;
    margin: 6px 0;
    font-size: 10px;
    text-transform: uppercase;
    color: #888888;
  }

  .Button {
    margin-top: 36px;
  }

  &_footer {
    text-align: center;
    padding-top: 12px;
    font-size: 14px;
    margin-top: 16px;
    color: $lightGrey;

    .link {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
