@import '../../assets/styles/vars.scss';

.User-information {
  &-root {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }

  &__avatar-buttons-action {
    position: relative;
  }

  &__about {
    margin-left: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__pencil-edit {
    position: absolute;
    bottom: 0;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #000;
  }

  &__user-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__description {}

  &__publication-subscribe {
    display: flex;
    width: 100%;
    max-width: 420px;
    justify-content: space-between;
  }

  &__publication-subscribe-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  &__avatar {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  //@media (max-width: $mobile) {
  //  .user {
  //    .about-user {
  //      display: none;
  //    }
  //
  //    .from-user {
  //     display: none;
  //    }
  //
  //    .user-name {
  //      font-size: 10px;
  //      margin-bottom: 6px;
  //      text-align: center;
  //    }
  //
  //    .left-block {
  //      margin-left: 12px;
  //    }
  //
  //    .publication {
  //      justify-content: space-evenly;
  //      .item {
  //        font-size: 10px;
  //      }
  //    }
  //  }
  //
  //  .avatar {
  //    width: 60px;
  //    height: 60px;
  //  }
  //}

}