@import '../../assets/styles/vars.scss';

.User-information {
  margin-bottom: 36px;

  .user {
    display: flex;
    align-items: flex-start;

    .user-name {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    .left-block {
      margin-left: 36px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .about-user {
        p {
          color: #e8e8e8;
        }
      }

      .from-user {
        color: #a23327;
      }
    }

    .publication {
      display: flex;
      width: 100%;
      max-width: 420px;
      justify-content: space-between;

      .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
  }


  .avatar {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  .edit-button {
    margin: 12px 0;
    display: flex;
    justify-content: center;

    .item {
      margin: 0 12px;
    }
  }

  @media (max-width: $mobile) {
    .user {
      .about-user {
        display: none;
      }

      .from-user {
       display: none;
      }

      .user-name {
        font-size: 10px;
        margin-bottom: 6px;
        text-align: center;
      }

      .left-block {
        margin-left: 12px;
      }

      .publication {
        justify-content: space-evenly;
        .item {
          font-size: 10px;
        }
      }
    }

    .avatar {
      width: 60px;
      height: 60px;
    }

    .MuiIconButton-root {
      padding: 2px;

      .MuiSvgIcon-root {
        width: 16px;
        height: 16px;
      }
    }
  }

}